/* Set white background for the entire page */
body {
    background-color: whitesmoke;
    font-family: sans-serif;
    color: black;

}

.animate__animated.animate__bounce {
--animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
--animate-duration: 800ms;
--animate-delay: 0.9s;
}

/* Style the grid containing the <li> elements */
ul.our-services{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minimum and maximum width as needed */
grid-gap: 10px; /* Adjust the gap between grid items */
background-color: #0D1282; /* Background color for the grid */
padding: 20px; /* Add padding to create some space around the grid */
}

/* Style the <li> elements */
li.service-listing {
color: white; /* Text color for the <li> elements */
padding: 10px; /* Add padding to the <li> elements */
list-style-type: none; /* Remove default list-style */
}
  