body {
	background-color: #222;
	margin: 0;
	overflow: hidden;
	cursor: default;
	line-height: 1.5;
	font-family: 'trueno-lite', sans-serif;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-link);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(250, 143, 48, 0.9);
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.col {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.pad0 {
	padding: 0;
}

.mag0 {
	margin: 0;
}

.mag-btm-0 {
	margin-bottom: 0;
}

.mag-top-0 {
	margin-top: 0;
}

.imgs {
	float: left;
	height: 75vh;
	overflow: auto;
	position: relative;
	top: 13vh;
}

a img.p-img {
	width: 80%;
}

.header {
	color: var(--color-link);
	font-family: 'essai', sans-serif;
}

.profile-img {
	width: 160px;
	border-radius: 50%;
}

.white-txt {
	color: white;
}

.header.abs-txt {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 20px;
}

.profile-border {
	height: auto;
	padding-top: 40px;
	padding-bottom: 20px;
}

.logo-img {
	width: 50%;
}

.frame__links a {
	text-transform: capitalize;
	background: var(--color-link);
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
}

.frame__links a:hover {
	background: var(--color-link-hover);
}

a.dd:hover,
a.dd:focus {
	color: white;
	outline: none;
}

a.dd {
	text-transform: none;
	font-size: 1.22rem;
}

.frame__demos img {
	width: 150px;
}

.frame__demos span {
	letter-spacing: 12px;
}

.proj-header {
	font-family: 'Turok', sans-serif;
	font-size: 3rem;
}

.c-coder {
	color: #7D56C1;
}

.sika {
	color: #0087F2;
}

.title-holder {
	padding-top: 10%;
}

.carousel-indicators {
	bottom: -20px;
}

.proj-details {
	font-size: 1.3rem;
}

h1.very-big-txt.header {
	font-size: 3.5rem;
	margin-bottom: 0.1em;
}

.header.ph {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

h2.sub-big-txt {
	font-weight: 100;
}


.col.xs100 {
	width: 100%;
}

.col.xs90 {
	width: 90%;
}

.col.xs50 {
	width: 50%;
}

.col.xs10 {
	width: 10%;
}


@media(min-width: 1200px) {}

@media(min-width: 992px) and (max-width: 1199px) {}

@media(min-width: 992px) {
	.logo-img {
		width: 30%;
		margin-top: -20px;
	}
}

/* @media(max-width: 991px){
	.frame__links a {
		text-transform: capitalize;
		background: var(--color-link);
		color: white;
		padding: 5px 10px;
		border-radius: 20px;
	}
} */

@media(min-width: 768px) and (max-width: 991px) {}

@media(min-width: 768px) {
	.col.s100 {
		width: 100%;
	}

	.col.s90 {
		width: 90%;
	}

	.col.s80 {
		width: 80%;
	}

	.col.s70 {
		width: 70%;
	}

	.col.s60 {
		width: 60%;
	}

	.col.s50 {
		width: 50%;
	}

	.col.s49 {
		width: 49%;
	}

	.col.s40 {
		width: 40%;
	}

	.col.off-s5 {
		margin-left: 5%;
	}

	.col.off-s10 {
		margin-left: 10%;
	}

	.col.off-s15 {
		margin-left: 15%;
	}

	.col.off-s20 {
		margin-left: 20%;
	}

	.col.off-s25 {
		margin-left: 25%;
	}

	.col.off-s30 {
		margin-left: 30%;
	}

	.ye.profile-border {
		border: 1px solid var(--color-link);
	}

	.wi.profile-border {
		border: 1px solid white;
	}

	.profile-border {
		height: 570px;
		margin-left: 0.5%;
		margin-right: 0.5%;
		margin-bottom: 10px;
		border-radius: 20px;
	}

	a.dd {
		font-size: 2rem;
		word-spacing: -2px;
		letter-spacing: -1px;
		color: white;
		text-shadow: 2px 2px 5px #000;
		cursor: default;
	}
}

@media(max-width: 767px) {
	a img.p-img {
		margin-bottom: 20px;
	}

	.imgs {
		top: 0;
	}

	.logo-img {
		width: 60%;
	}

	h1.very-big-txt.header {
		font-size: 2.5rem;
		margin-bottom: 0.1em;
	}

	.frame__links {
		display: block;
		margin-top: 10px;
	}

	.frame {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.frame__demos {
		position: absolute;
		bottom: -65vh;
		margin: auto;
		left: 0;
		right: 0;
	}

	canvas {
		position: relative;
		top: -5vh;
	}

	.imgs {
		top: 20px !important;
	}

	.header.abs-txt {
		position: relative;
		margin-top: -20px;
	}
}
